* {
    margin: 0;
    padding: 0;
    border: 0;
    position: static;
}

body {
    margin: 8vh 20vw;
}

.line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: gray;
    margin-bottom: 2vh;
}

.css-bayan:hover{
    color: #000000;
}

.css-bayan:hover .cross {
    display: block;
}

.css-bayan:not(:hover) .cross  {
    display: none;
}

.css-bayan {
    color: #483b8b;
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    width: 100%;
}

.accordion-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accordion {
    width: 100%;
    cursor: pointer;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vw;
}

.accordion:last-child {
    margin-bottom: 0;
}

.accordion-title {
    width: calc(100% - 6vw);
}

.input {
    display: none;
    width: 3vw;
    height: 3vw;
}

.meme {
    max-height: 0vw;
    width: 23vw;
    height: 23vw;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.accordion-content {
    max-height: 0vw;
    width: 100%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    display: flex;
    justify-content: center;
}

.cross {
    background: url('/assets/images/cross.png');
    width: 3vw;
    height: 3vw;
    background-size: contain;
    cursor: pointer;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.input:checked ~ .cross{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.input:checked ~ .accordion-content,
.input:checked ~ .accordion-content img {
    max-height: 23vw;
}

.input:not(:checked) ~ .accordion-content,
.input:not(:checked) ~ .accordion-content img {
    max-height: 0vw;
}

.coments-meme {
    background-image: url('/assets/memes/meme_2.png');
    background-size: cover;
}

.project-meme {
    background-image: url('/assets/memes/meme_1.png');
    background-size: cover;
    width: 32vw;
}

.front-vs-back-meme {
    background-image: url('/assets/memes/meme_3.png');
    background-size: cover;
}

.computer-meme {
    background-image: url('/assets/memes/meme_4.png');
    background-size: cover;
}

@media screen and (max-width: 820px) {
    * {
        font-size: 6vw;
    }

    body {
        margin: 5vw 10vw;
    }

    .css-bayan:hover {
        color: #483b8b;
    }
    
    .meme {
        width: 48vw;
        height: 48vw;
    }


    .project-meme {
        width: 84vw;
        height: 57vw;
    }

    .input:checked ~ .accordion-content,
    .input:checked ~ .accordion-content img {
        max-height: 57vw;
    }

    .cross {
        width: 6vw;
        height: 6vw;
    }
}

@media screen and (max-width: 320px) {
    * {
        font-size: 7vw;
    }
}